*{
    margin: 0;
    padding: 0;
}
.full-wrapper{
    width: 100%;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.common-heading{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 26px; 
    color: #709dca;
}
/*common css ends*/

.menubar{
    height: 100px;
    display: flex;
}
.menubar .logoname{
    width: 565px;
    line-height: 100px;
}
.menubar .menu-contant{
    width: 605px;
}
.menubar .logoname h1 a{
    font-family: 'Pacifico', cursive;
    font: 30px;
    font-weight: 400;
    color: #ffc155;
    text-transform: capitalize;
}
.menubar .menu-contant ul{
    line-height: 100px;
}
.menubar .menu-contant ul li a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 15px 20px;
    color: black;
    text-transform: capitalize;
    transition: all linear 0.4s;
}
.menubar .menu-contant ul li a:hover{
    background-color: #ffc155;
}
.menubar .menu-contant .active{
    background-color: #ffc155;
}
/*menubar ends*/
.overlay{
    height: 560px;
    background-color: rgba(135, 128, 143, 0.2);
}
.overlay-black{
    height: 560px;
    background-color: rgba(0, 0, 0, 0.2);
}
.banner-100{
    height: 560px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner{
    height: 560px;
    text-align: center;
}
.banner h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    padding-top: 240px;
    box-sizing: border-box;
    color: #fff;
    text-transform: capitalize;
}
.banner h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 100px;
}
.banner ul li a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    line-height: 50px;
    border: 1px solid #605a5a;
    background-color: #709dca;
    padding: 20px 25px;
    border-radius: 5px;
    transition: all linear 0.4s;
}
.banner ul li a:hover{
    color: #709dca;
    background-color: #000;
    border: 1px solid #000;
}
/*banner part ends*/

.we-offer{
  height: 740px;
}
.we-offer .row-1{
    height: 215px;
    box-sizing: border-box;
    text-align: center;
}
.we-offer .row-2{
    height: 525px;
    display: flex;
}
.we-offer .row-1 h1{
    padding-top: 80px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.we-offer .row-1 h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px; 
    color: #4e5d61;
}
.we-offer .row-2 .col-1{
    width: 50%;
    height: 525px;
}
.we-offer .row-2 .col-2{
    width: 50%;
    height: 525px;
}
.we-offer .row-2 .col-1 .row-1{
    height: 170px;
    width: 565px;
}
.we-offer .row-2 .pic{
    width: 65px;
    float: left;
    padding-right: 15px;
    font-size: 30px;
    text-align: center;
}
.we-offer .row-2 .text{
    width: 450px;
    float: left;
}
.we-offer .row-2 .text h3{
    text-align: left;
    padding-bottom: 20px;
}
.we-offer .row-2 .col-1 .row-2{
    height: 170px;
    width: 565px;
}
.we-offer .row-2 .col-1 .row-3{
    height: 170px;
    width: 565px;
}
.we-offer .row-2 .col-2 .row-1{
    height: 170px;
    width: 565px;
}
.we-offer .row-2 .col-2 .row-2{
    height: 170px;
    width: 565px;
}
.we-offer .row-2 .col-2 .row-3{
    height: 170px;
    width: 565px;
}
.we-offer .row-2 .common-heading{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4e5d61;
    text-transform: uppercase;
}
.common-para{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px; 
    text-align: left;
    color: #394b50;
}
/*we offer ends*/

.who-we{
    display: flex;
    background-color: #ffc155;
}
.pic-50{
    width: 50%;
    height: 625px;
    float: left;
    background-image: url(../images/human-side.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-50{
    width: 50%;
    height: 625px;
    float: right;
}
.text-we{
    width: 525px;
    height: 625px;
    float: left;
    padding-left: 80px;
    box-sizing: border-box;
}
.text-we h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 26px; 
    padding-bottom: 35px;
    padding-top: 95px;
    color: #fff;
    text-transform: uppercase;
}
.text-we p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px; 
    color: #fff;
    padding-bottom: 85px;
}
.text-we ul li a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 45px;
    border: 1px solid #cb8d21;
    padding: 15px 30px;
    background-color: #e7ad48;
    transition: all linear 0.3s;
}
.text-we ul li a:hover{
    border: 1px solid #e7ad48;
    background-color: #cb8d21;
}
/*who we are ends*/
.see-our-work{
    height: 390px;
}
.see-our-work .row-1{
    height: 165px;
    position: relative;
    text-align: center;
}
.see-our-work .row-2{
    height: 112px;
    text-align: center;
}
.see-our-work .row-3{
    height: 120px;
    text-align: center;
}
.see-our-work .row-1 h3{
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #709dca;
    padding-top: 100px;
    padding-bottom: 19px;
    text-transform: uppercase;
}
.see-our-work .row-1 span i{
    font-size: 26px;
    color: #fbc362;
}
.see-our-work .row-1 span:before{
    position: absolute;
    content: '';
    top: 165px;
    left: 465px;
    height: 2px;
    width: 95px;
    background-color: #fbc362;
}
.see-our-work .row-1 span:after{
    position: absolute;
    content: '';
    top: 165px;
    right: 465px;
    height: 2px;
    width: 95px;
    background-color: #fbc362;
}
.see-our-work .row-2 p{
    margin-top: 50px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.see-our-work .row-3 ul li a{
    text-transform: capitalize;
    line-height: 25px;
    padding: 8px 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000000;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: all linear 0.3s;
}
.see-our-work .row-3 ul li a:hover{
    background-color: #709dca;
    border: 1px solid #709dca;
    color: #fff;
}
.see-our-work .row-3 .active{
    background-color: #709dca;
    color: #fff;
    border: 1px solid #709dca;
}
/*See our works ends*/
.gallary{
    height: 565px;
}
.gallary img{
    width: 100%;
}
.gallary .container{
    position: relative;
}
.gallary span i{
    font-size: 50px;
    position: absolute;
    left: 165px;
    top: 73px;
}
.gallary i{
    color: #fff;
    font-size: 25px;
    padding-bottom: 25px;
}
.gallary .text{
    background-color: rgba(233, 177, 80, 0.9);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 85px;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all linear 0.4s;
    overflow: hidden;
}
.gallary .container:hover .text{
    top: 0;
    left: 0;
    overflow: block;
}
.gallary .container .active{
    top: 0;
    left: 0;
}
.gallary .text h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-family: 16px;
    padding-bottom: 15px;
    color: #fff;
}
.gallary .text h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.gallary .row-1{
    height: 50%;
    display: flex;
}
.gallary .row-2{
    height: 50%;
    display: flex;
}
.gallary .col-1{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.gallary .col-2{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.gallary .col-3{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.gallary .col-4{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
/*gallary part ends*/
.testimonials{
    height: 495px;
}
.testimonials .row-1{
    height: 205px;
    position: relative;
    text-align: center;
}
.testimonials .row-2{
    height: 290px;
    display: flex;
}
.testimonials .row-1 h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: #709dca;
    padding-top: 75px;
    padding-bottom: 15px;
    box-sizing: border-box;
}
.testimonials .row-1 i{
    font-size: 26px;
    color: #fac260;
}
.testimonials .row-1 span:before{
    position: absolute;
    content: '';
    top: 135px;
    left: 470px;
    height: 2px;
    width: 90px;
    background-color: #ffc155;
}
.testimonials .row-1 span:after{
    position: absolute;
    content: '';
    top: 135px;
    right: 470px;
    height: 2px;
    width: 90px;
    background-color: #ffc155;
}

.testimonials .row-2 .col-1{
    width: 500px;
    height: 290px;
    padding-left: 10px;
    margin-right: 80px;
    box-sizing: border-box;
}
.testimonials .row-2 .col-2{
    width: 525px;
    height: 290px;
}
.testimonials .row-2 .item{
    height: 150px;
    width: 465px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color:  #f6f3f3;
}
.testimonials .row-2 p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
}
.testimonials .row-2 img{
    margin-top: 10px;
    margin-right: 20px;
}
.testimonials .row-2 span b{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: capitalize;
}
.testimonials .row-2 span{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
}
/*testimonial part ends*/
.full-footer{
    background-color: #273a43;
}
.footer{
    height: 465px;
}
.footer .row-1{
    display: flex;
}
.footer .row-1 .col-1{
    width: 270px;
    height: 345px;
}
.footer .row-1 .col-1 h2{
    font-family: 'Pacifico', cursive;
    font: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding-top: 70px;
    padding-bottom: 25px;
}
.footer .row-1 .col-1 .common-para-footer{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #a5a8a9;
}
.footer .row-1 .col-2{
    width: 295px;
    height: 345px;
    padding-left: 30px;
    box-sizing: border-box;
}
.footer .row-1 .common-para-footer-2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #a5a8a9;
}
.footer .row-1 i{
    font-size: 15px;
    color: #71b6d5;
    padding-right: 15px;
}
.footer .row-1 .common-head{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 20px;
}
.footer .row-1 .col-2 p{
    padding-bottom: 20px;
}
.footer .row-1 .col-2 ul li{
    margin-bottom: 15px;
}
.footer .row-1 .col-2 ul li a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13.5px;
    color: #fff;
}
.footer .row-1 .col-3{
    width: 309px;
    height: 345px;
    padding-left: 30px;
    box-sizing: border-box;
}
.footer .row-1 .col-3 .row-1{
    height: 170px;
    display: flex;
}
.footer .row-1 .col-3 .row-2{
    height: 112px;
    display: flex;
}
.footer .row-1 .col-3 .col-1{
    width: 30px;
}
.footer .row-1 .col-3 .col_2{
    width: 279px;
}
.footer .row-1 .col-3 p{
    padding-bottom: 10px;
}
.footer .row-1 .col-3 .col_2 span{
    color: #71b6d5;
    text-transform: capitalize;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13.5px;
}
.footer .row-1 .col-4{
    width: 297px;
    height: 345px;
    padding-left: 30px;
    box-sizing: border-box;
    position: relative;
}
.footer .row-1 .col-4 p{
    padding-bottom: 40px;
}
.footer .row-1 .col-4 .text{
    height : 35px;
    width : 180px;
    border: 1px solid #172227;
    background-color: #172227;
    padding-left: 15px;
    color: #fff;
    border-radius: 5px 0 0 5px;
}
.footer .row-1 .col-4 .submit{
    height : 37px;
    width : 85px;
    border: 1px solid #71b6d5;
    background-color: #71b6d5;
    border-radius: 0 5px 5px 0;
    position: absolute;
    color: #fff;
    top: 100;
    right: 2px;
}
.footer .row-1{}